body {
  background-color: #141414;
  font-family: Arial, sans-serif;
}

.loading-bar-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  overflow: hidden;
}

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 10%;
  background-color: #e50914;
  transition: width 0.3s ease;
  animation: progressAnimation 2s linear infinite;
}

.progress {
  height: 100%;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  position: relative;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  text-align: left; 
  color: #fff;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.6;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000;
}

.hero p {
  font-size: 1.5rem;
  max-width: 600px;
  margin-bottom: 40px;
}

.categories {
  margin-top: 20px;
}

.categories h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}

.movie-list,
.show-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.movie-card,
.show-card {
  position: relative; 
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  width: 100%;
  height: 0; 
  padding-bottom: 150%; 
}


.movie-card:hover,
.show-card:hover {
  transform: scale(1.05);
}

.movie-card img,
.show-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}


.movie-card .overlay,
.show-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.movie-card:hover .overlay,
.show-card:hover .overlay {
  opacity: 1;
}

.movie-card .overlay h2,
.show-card .overlay h2 {
  font-size: 1.5rem;
  margin-bottom: 115px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.movie-card .overlay button,
.show-card .overlay button {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 0.9rem;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-list-hidden {
  display: none;
}



.show-more-button:hover,
.show-more-button:focus {
  background-color: #e60511;
  outline: none;
}

.show-more-button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

@keyframes progressAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    height: 70vh;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .movie-list,
  .show-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
  }

  .categories h2 {
    font-size: 1.5rem;
  }

  .movie-card .overlay h2,
  .show-card .overlay h2 {
    font-size: 1.25rem;
  }

  .movie-card .overlay p,
  .show-card .overlay p {
    font-size: 0.75rem;
  }

}