.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.tab {
  padding: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  border: none;
  background-color: transparent;
  outline: none;
  transition: color 0.3s ease;
}

.tab.active {
  color: #ff0000;
}

.tab-content {
  max-width: 800px;
  margin-bottom: 2rem;
  background-color: #111;
  padding: 2rem;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tab-content h3 {
  margin-top: 0;
}

.tab-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tab-content ul li {
  margin-bottom: 1rem;
}

.tab-content ul li p {
  margin: 0;
}
