/* CSS code for movieDetails.css */

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2rem;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tab {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  border: none;
  background-color: transparent;
  outline: none;
  transition: color 0.3s ease;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tabs button.active {
  background-color: #ae0a0a;
}

.tab-content {
  max-width: 800px;
  margin-bottom: 2rem;
  background-color: #111111;
  padding: 2rem;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  align-self: center;
}

.tab-content h3 {
  margin-top: 0;
}

.tab-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tab-content ul li {
  margin-bottom: 1rem;
}

.tab-content ul li p {
  margin: 0;
}

.tabs button {
  background-color: black;
  color: white;
  margin: 1px;
  padding: 55px;
}

.trailer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 2rem;
  overflow: hidden;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .tabs {
    position: static;
    margin-right: 0;
    margin-bottom: 1rem;
    transform: translateY(0);
  }

  .tabs-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    border: none;
    background-color: transparent;
    outline: none;
  }

  .tabs-list {
    display: none;
    flex-direction: column;
    background-color: #111111;
    padding: 1rem;
    border-radius: 5px;
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .tabs-button.active + .tabs-list {
    display: flex;
  }

  .tab {
    padding: 0.5rem;
    margin-bottom: 0.25rem;
  }
}
