nav {
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 155px;
  height: 50px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

nav ul li {
  margin-right: 25px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  padding: 10px;
}

nav ul li a:hover {
  color: #e50914;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  font-size: 16px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin-right: 10px;
}

.search-input::placeholder {
  color: #999;
}

.search-button {
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #e60511;
}